<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-GiovacunaTEC/blob/main/assignment01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
Student_Name = 'Giovanni Andrés Acuña Morales'
ID_Student = 'A01794007'

In [2]:
print(f'Presentado por: {Student_Name}, con el código de Estudiante: {ID_Student}')

Presentado por: Giovanni Andrés Acuña Morales, con el código de Estudiante: A01794007

# Module 1 - Python Basics

## Review Question 1.

What is the result of the following operation in Python: 3 + 2 * 2

In [3]:
print(3 + 2 * 2)

7

##Review Question 2

In Python, if you executed name = 'Lizz', what would be the output of print(name[0:2])?

In [5]:
name = 'Lizz'
print(name[0:2])

Li

##Review Question 3

In Python, if you executed var = '01234567', what would be the result of print(var[::2])?

In [6]:
var = '01234567'
print(var[::2])

0246

##Review Question 4

In Python, what is the result of the following operation '1'+'2'?

In [7]:
print('1'+'2')

12

##Review Question 5

Given myvar = 'hello', how would you convert myvar into uppercase?

In [8]:
myvar = 'hello'
print(myvar)

hello

In [9]:
print(myvar.upper())

HELLO

#Module 2 - Python Data Structures

##Question 1

What is the syntax used to obtain the first element of the tuple:

In [10]:
A = ('a','b','c')
print(A)

('a', 'b', 'c')

In [11]:
print(A[0])

a

##Question 2

After applying the following method, L.append(['a','b']), the following list will only be one element longer.

In [16]:
 L = []

In [17]:
 L.append(['a','b'])
 print(L)

[['a', 'b']]

##Question 4

Consider the following Python dictionary:

Dict={"A":1,"B":"2","C":[3,3,3],"D":(4,4,4),'E':5,'F':6}

What is the result of the following operation: Dict["D"]?

In [18]:
Dict={"A":1,"B":"2","C":[3,3,3],"D":(4,4,4),'E':5,'F':6}
print(Dict)

{'A': 1, 'B': '2', 'C': [3, 3, 3], 'D': (4, 4, 4), 'E': 5, 'F': 6}

In [19]:
print(Dict["D"])

(4, 4, 4)

#Module 3 - Python Programming Fundamentals

##Question 1

What is the output of the following lines of code:

x=1

if(x!=1):

print('Hello')

else:

print('Hi')

print('Mike')

In [20]:
x=1

if(x!=1):

  print('Hello')

else:

  print('Hi')

print('Mike')

Hi
Mike

##Question 2

What is the output of the following few lines of code?

A = ['1','2','3']

for a in A:

print(2*a)

In [21]:
A = ['1','2','3']

for a in A:

  print(2*a)

11
22
33

##Question 3

Consider the function Delta, when will the function return a value of 1

def Delta(x):

if x==0:

y=1;

else:

y=0;

return(y)

In [24]:
def Delta(x):

  if x==0:

    y=1;

  else:

    y=0;

  return(y)

print(Delta(0))

1

##Question 4

What is the correct way to sort the list 'B' using a method? The result should not return a new list, just change the list 'B'.

In [30]:
B = ['Ford', 'BMW', 'Volvo', 'Chevere', 'Bicicleta']
print(B)

['Ford', 'BMW', 'Volvo', 'Chevere', 'Bicicleta']

In [31]:
B.sort()
print(B)

['BMW', 'Bicicleta', 'Chevere', 'Ford', 'Volvo']

##Question 5

What are the keys of the following dictionary: {'a':1,'b':2}?

In [32]:
dict = {'a':1,'b':2}
print(dict)

{'a': 1, 'b': 2}

In [33]:
print(dict.keys())

dict_keys(['a', 'b'])