# **Semana 3 - Actividad 1**

**Presentado por Giovanni Acuña Morales**

**Limpieza de datos**

Primero importamos la librería que usarmos para la extración y limpieza de datos

In [ ]:
import pandas as pd
import numpy as np
import requests

Posteriormente hacemos una petición HTTP para optener la información de la URL: "https://raw.githubusercontent.com/PosgradoMNA/Actividades_Aprendizaje-/main/default%20of%20credit%20card%20clients.csv"

In [32]:
url = "https://raw.githubusercontent.com/PosgradoMNA/Actividades_Aprendizaje-/main/default%20of%20credit%20card%20clients.csv"
response = requests.get(url)
open("data_base.csv", "wb").write(response.content)

2896514

Comprobamos la base de datos en el dataframe

In [33]:
df = pd.read_csv('data_base.csv')
print(df)

          ID      X1   X2   X3   X4    X5   X6   X7   X8   X9  ...      X15  \
0          1   20000  2.0  2.0  1.0  24.0  2.0  2.0 -1.0 -1.0  ...      0.0
1          2  120000  2.0  2.0  2.0  26.0 -1.0  2.0  0.0  0.0  ...   3272.0
2          3   90000  2.0  2.0  2.0  34.0  0.0  0.0  0.0  0.0  ...  14331.0
3          4   50000  2.0  2.0  1.0  37.0  0.0  0.0  0.0  0.0  ...  28314.0
4          5   50000  1.0  2.0  1.0  57.0 -1.0  0.0 -1.0  0.0  ...  20940.0
...      ...     ...  ...  ...  ...   ...  ...  ...  ...  ...  ...      ...
29995  29996  220000  1.0  3.0  1.0  39.0  0.0  0.0  0.0  0.0  ...  88004.0
29996  29997  150000  1.0  3.0  2.0  43.0 -1.0 -1.0 -1.0 -1.0  ...   8979.0
29997  29998   30000  1.0  2.0  2.0  37.0  4.0  3.0  2.0 -1.0  ...  20878.0
29998  29999   80000  1.0  3.0  1.0  41.0  1.0 -1.0  0.0  0.0  ...  52774.0
29999  30000   50000  1.0  2.0  1.0  46.0  0.0  0.0  0.0  0.0  ...  36535.0

           X16      X17      X18      X19      X20     X21      X22     X23  \
0          0.0      0.0      0.0    689.0      0.0     0.0      0.0     0.0
1       3455.0   3261.0      0.0   1000.0   1000.0  1000.0      0.0  2000.0
2      14948.0  15549.0   1518.0   1500.0   1000.0  1000.0   1000.0  5000.0
3      28959.0  29547.0   2000.0   2019.0   1200.0  1100.0   1069.0  1000.0
4      19146.0  19131.0   2000.0  36681.0  10000.0  9000.0    689.0   679.0
...        ...      ...      ...      ...      ...     ...      ...     ...
29995  31237.0  15980.0   8500.0  20000.0   5003.0  3047.0   5000.0  1000.0
29996   5190.0      0.0   1837.0   3526.0   8998.0   129.0      0.0     0.0
29997  20582.0  19357.0      0.0      0.0  22000.0  4200.0   2000.0  3100.0
29998  11855.0  48944.0  85900.0   3409.0   1178.0  1926.0  52964.0  1804.0
29999  32428.0  15313.0   2078.0   1800.0   1430.0  1000.0   1000.0  1000.0

         Y
0      1.0
1      1.0
2      0.0
3      0.0
4      0.0
...    ...
29995  0.0
29996  0.0
29997  1.0
29998  1.0
29999  1.0

[30000 rows x 25 columns]

Posteriormente procedemos a realizar una revisión de la data en cada columna y existe las opciones de obtener el mínimo, máximo, cantidades, promedios. ETC

In [48]:
for column in df.columns:
  print(f'Datos de la columna {column}')
  print(f'valor mínimo: {df[column].min()}')
  print(f'Valor Máximo: {df[column].max()}')
  print(f'Valor Promedio: {df[column].std()}')
  print(f'Cantidad de registos: {df[column].count()}')
  print(f'\n')

Datos de la columna ID
valor mínimo: 1
Valor Máximo: 30000
Valor Promedio: 8654.547473418781
Cantidad de registos: 29958


Datos de la columna X1
valor mínimo: 10000
Valor Máximo: 1000000
Valor Promedio: 129737.29908775157
Cantidad de registos: 29958


Datos de la columna X2
valor mínimo: 1.0
Valor Máximo: 2.0
Valor Promedio: 0.4890699632610518
Cantidad de registos: 29958


Datos de la columna X3
valor mínimo: 0.0
Valor Máximo: 6.0
Valor Promedio: 0.7904710931047395
Cantidad de registos: 29958


Datos de la columna X4
valor mínimo: 0.0
Valor Máximo: 3.0
Valor Promedio: 0.5219520748580883
Cantidad de registos: 29958


Datos de la columna X5
valor mínimo: 21.0
Valor Máximo: 79.0
Valor Promedio: 9.214318831480954
Cantidad de registos: 29958


Datos de la columna X6
valor mínimo: -2.0
Valor Máximo: 8.0
Valor Promedio: 1.123989019937333
Cantidad de registos: 29958


Datos de la columna X7
valor mínimo: -2.0
Valor Máximo: 8.0
Valor Promedio: 1.1971707508472194
Cantidad de registos: 29958


Datos de la columna X8
valor mínimo: -2.0
Valor Máximo: 8.0
Valor Promedio: 1.1960259695070918
Cantidad de registos: 29958


Datos de la columna X9
valor mínimo: -2.0
Valor Máximo: 8.0
Valor Promedio: 1.1684187894265148
Cantidad de registos: 29958


Datos de la columna X10
valor mínimo: -2.0
Valor Máximo: 8.0
Valor Promedio: 1.1323065518958788
Cantidad de registos: 29958


Datos de la columna X11
valor mínimo: -2.0
Valor Máximo: 8.0
Valor Promedio: 1.149302571748401
Cantidad de registos: 29958


Datos de la columna X12
valor mínimo: -165580.0
Valor Máximo: 964511.0
Valor Promedio: 73674.94994346624
Cantidad de registos: 29958


Datos de la columna X13
valor mínimo: -69777.0
Valor Máximo: 983931.0
Valor Promedio: 71211.23274360197
Cantidad de registos: 29958


Datos de la columna X14
valor mínimo: -157264.0
Valor Máximo: 1664089.0
Valor Promedio: 69385.2433396312
Cantidad de registos: 29958


Datos de la columna X15
valor mínimo: -170000.0
Valor Máximo: 891586.0
Valor Promedio: 64364.684346522336
Cantidad de registos: 29958


Datos de la columna X16
valor mínimo: -81334.0
Valor Máximo: 927171.0
Valor Promedio: 60826.21932573589
Cantidad de registos: 29958


Datos de la columna X17
valor mínimo: -339603.0
Valor Máximo: 961664.0
Valor Promedio: 59582.88330148046
Cantidad de registos: 29958


Datos de la columna X18
valor mínimo: 0.0
Valor Máximo: 873552.0
Valor Promedio: 16568.823518422338
Cantidad de registos: 29958


Datos de la columna X19
valor mínimo: 0.0
Valor Máximo: 1684259.0
Valor Promedio: 23055.98386352156
Cantidad de registos: 29958


Datos de la columna X20
valor mínimo: 0.0
Valor Máximo: 896040.0
Valor Promedio: 17617.338167058184
Cantidad de registos: 29958


Datos de la columna X21
valor mínimo: 0.0
Valor Máximo: 621000.0
Valor Promedio: 15676.205513926268
Cantidad de registos: 29958


Datos de la columna X22
valor mínimo: 0.0
Valor Máximo: 426529.0
Valor Promedio: 15285.552652021965
Cantidad de registos: 29958


Datos de la columna X23
valor mínimo: 0.0
Valor Máximo: 528666.0
Valor Promedio: 17788.98376732679
Cantidad de registos: 29958


Datos de la columna Y
valor mínimo: 0.0
Valor Máximo: 1.0
Valor Promedio: 0.41502347639843895
Cantidad de registos: 29958

Verificamos si alguna columna tiene campos nulos o vácios

In [34]:
df.isnull().values.any()

True

Se puede eliminar los registros o filas que tengas datos nullos o vácios

In [35]:
df.dropna(inplace = True)
print(df)

          ID      X1   X2   X3   X4    X5   X6   X7   X8   X9  ...      X15  \
0          1   20000  2.0  2.0  1.0  24.0  2.0  2.0 -1.0 -1.0  ...      0.0
1          2  120000  2.0  2.0  2.0  26.0 -1.0  2.0  0.0  0.0  ...   3272.0
2          3   90000  2.0  2.0  2.0  34.0  0.0  0.0  0.0  0.0  ...  14331.0
3          4   50000  2.0  2.0  1.0  37.0  0.0  0.0  0.0  0.0  ...  28314.0
4          5   50000  1.0  2.0  1.0  57.0 -1.0  0.0 -1.0  0.0  ...  20940.0
...      ...     ...  ...  ...  ...   ...  ...  ...  ...  ...  ...      ...
29995  29996  220000  1.0  3.0  1.0  39.0  0.0  0.0  0.0  0.0  ...  88004.0
29996  29997  150000  1.0  3.0  2.0  43.0 -1.0 -1.0 -1.0 -1.0  ...   8979.0
29997  29998   30000  1.0  2.0  2.0  37.0  4.0  3.0  2.0 -1.0  ...  20878.0
29998  29999   80000  1.0  3.0  1.0  41.0  1.0 -1.0  0.0  0.0  ...  52774.0
29999  30000   50000  1.0  2.0  1.0  46.0  0.0  0.0  0.0  0.0  ...  36535.0

           X16      X17      X18      X19      X20     X21      X22     X23  \
0          0.0      0.0      0.0    689.0      0.0     0.0      0.0     0.0
1       3455.0   3261.0      0.0   1000.0   1000.0  1000.0      0.0  2000.0
2      14948.0  15549.0   1518.0   1500.0   1000.0  1000.0   1000.0  5000.0
3      28959.0  29547.0   2000.0   2019.0   1200.0  1100.0   1069.0  1000.0
4      19146.0  19131.0   2000.0  36681.0  10000.0  9000.0    689.0   679.0
...        ...      ...      ...      ...      ...     ...      ...     ...
29995  31237.0  15980.0   8500.0  20000.0   5003.0  3047.0   5000.0  1000.0
29996   5190.0      0.0   1837.0   3526.0   8998.0   129.0      0.0     0.0
29997  20582.0  19357.0      0.0      0.0  22000.0  4200.0   2000.0  3100.0
29998  11855.0  48944.0  85900.0   3409.0   1178.0  1926.0  52964.0  1804.0
29999  32428.0  15313.0   2078.0   1800.0   1430.0  1000.0   1000.0  1000.0

         Y
0      1.0
1      1.0
2      0.0
3      0.0
4      0.0
...    ...
29995  0.0
29996  0.0
29997  1.0
29998  1.0
29999  1.0

[29958 rows x 25 columns]

Con esto si falta algún dato en todo el conjunto de datos, la fila correspondiente se elimina.

Posteriomente eliminaremos la columna que el falte al menos un elemento.

In [36]:
df.dropna(axis = 1, inplace = True) # axis 1 is columns / axis 0 is rows. 
print(df)

          ID      X1   X2   X3   X4    X5   X6   X7   X8   X9  ...      X15  \
0          1   20000  2.0  2.0  1.0  24.0  2.0  2.0 -1.0 -1.0  ...      0.0
1          2  120000  2.0  2.0  2.0  26.0 -1.0  2.0  0.0  0.0  ...   3272.0
2          3   90000  2.0  2.0  2.0  34.0  0.0  0.0  0.0  0.0  ...  14331.0
3          4   50000  2.0  2.0  1.0  37.0  0.0  0.0  0.0  0.0  ...  28314.0
4          5   50000  1.0  2.0  1.0  57.0 -1.0  0.0 -1.0  0.0  ...  20940.0
...      ...     ...  ...  ...  ...   ...  ...  ...  ...  ...  ...      ...
29995  29996  220000  1.0  3.0  1.0  39.0  0.0  0.0  0.0  0.0  ...  88004.0
29996  29997  150000  1.0  3.0  2.0  43.0 -1.0 -1.0 -1.0 -1.0  ...   8979.0
29997  29998   30000  1.0  2.0  2.0  37.0  4.0  3.0  2.0 -1.0  ...  20878.0
29998  29999   80000  1.0  3.0  1.0  41.0  1.0 -1.0  0.0  0.0  ...  52774.0
29999  30000   50000  1.0  2.0  1.0  46.0  0.0  0.0  0.0  0.0  ...  36535.0

           X16      X17      X18      X19      X20     X21      X22     X23  \
0          0.0      0.0      0.0    689.0      0.0     0.0      0.0     0.0
1       3455.0   3261.0      0.0   1000.0   1000.0  1000.0      0.0  2000.0
2      14948.0  15549.0   1518.0   1500.0   1000.0  1000.0   1000.0  5000.0
3      28959.0  29547.0   2000.0   2019.0   1200.0  1100.0   1069.0  1000.0
4      19146.0  19131.0   2000.0  36681.0  10000.0  9000.0    689.0   679.0
...        ...      ...      ...      ...      ...     ...      ...     ...
29995  31237.0  15980.0   8500.0  20000.0   5003.0  3047.0   5000.0  1000.0
29996   5190.0      0.0   1837.0   3526.0   8998.0   129.0      0.0     0.0
29997  20582.0  19357.0      0.0      0.0  22000.0  4200.0   2000.0  3100.0
29998  11855.0  48944.0  85900.0   3409.0   1178.0  1926.0  52964.0  1804.0
29999  32428.0  15313.0   2078.0   1800.0   1430.0  1000.0   1000.0  1000.0

         Y
0      1.0
1      1.0
2      0.0
3      0.0
4      0.0
...    ...
29995  0.0
29996  0.0
29997  1.0
29998  1.0
29999  1.0

[29958 rows x 25 columns]

Adicionalmente usamos Threshold.

Que mantendrá solo las filas con al menos 2 valores que **NO SEAN** nullo o vácios

In [37]:
df.dropna(how='all', inplace = True)
print(df)

          ID      X1   X2   X3   X4    X5   X6   X7   X8   X9  ...      X15  \
0          1   20000  2.0  2.0  1.0  24.0  2.0  2.0 -1.0 -1.0  ...      0.0
1          2  120000  2.0  2.0  2.0  26.0 -1.0  2.0  0.0  0.0  ...   3272.0
2          3   90000  2.0  2.0  2.0  34.0  0.0  0.0  0.0  0.0  ...  14331.0
3          4   50000  2.0  2.0  1.0  37.0  0.0  0.0  0.0  0.0  ...  28314.0
4          5   50000  1.0  2.0  1.0  57.0 -1.0  0.0 -1.0  0.0  ...  20940.0
...      ...     ...  ...  ...  ...   ...  ...  ...  ...  ...  ...      ...
29995  29996  220000  1.0  3.0  1.0  39.0  0.0  0.0  0.0  0.0  ...  88004.0
29996  29997  150000  1.0  3.0  2.0  43.0 -1.0 -1.0 -1.0 -1.0  ...   8979.0
29997  29998   30000  1.0  2.0  2.0  37.0  4.0  3.0  2.0 -1.0  ...  20878.0
29998  29999   80000  1.0  3.0  1.0  41.0  1.0 -1.0  0.0  0.0  ...  52774.0
29999  30000   50000  1.0  2.0  1.0  46.0  0.0  0.0  0.0  0.0  ...  36535.0

           X16      X17      X18      X19      X20     X21      X22     X23  \
0          0.0      0.0      0.0    689.0      0.0     0.0      0.0     0.0
1       3455.0   3261.0      0.0   1000.0   1000.0  1000.0      0.0  2000.0
2      14948.0  15549.0   1518.0   1500.0   1000.0  1000.0   1000.0  5000.0
3      28959.0  29547.0   2000.0   2019.0   1200.0  1100.0   1069.0  1000.0
4      19146.0  19131.0   2000.0  36681.0  10000.0  9000.0    689.0   679.0
...        ...      ...      ...      ...      ...     ...      ...     ...
29995  31237.0  15980.0   8500.0  20000.0   5003.0  3047.0   5000.0  1000.0
29996   5190.0      0.0   1837.0   3526.0   8998.0   129.0      0.0     0.0
29997  20582.0  19357.0      0.0      0.0  22000.0  4200.0   2000.0  3100.0
29998  11855.0  48944.0  85900.0   3409.0   1178.0  1926.0  52964.0  1804.0
29999  32428.0  15313.0   2078.0   1800.0   1430.0  1000.0   1000.0  1000.0

         Y
0      1.0
1      1.0
2      0.0
3      0.0
4      0.0
...    ...
29995  0.0
29996  0.0
29997  1.0
29998  1.0
29999  1.0

[29958 rows x 25 columns]

Una de las opciones muy comunes para eliminar ruido en dataframes sobre todo en con datos númericos es reemplazar los campos por ceros '0' en los registros o filas que no se puede eliminar.

In [38]:
for column in df.columns:
  df[column] = df[column].fillna(0.0)
  print(f'columa: {column}')
print(df)

columa: ID
columa: X1
columa: X2
columa: X3
columa: X4
columa: X5
columa: X6
columa: X7
columa: X8
columa: X9
columa: X10
columa: X11
columa: X12
columa: X13
columa: X14
columa: X15
columa: X16
columa: X17
columa: X18
columa: X19
columa: X20
columa: X21
columa: X22
columa: X23
columa: Y
          ID      X1   X2   X3   X4    X5   X6   X7   X8   X9  ...      X15  \
0          1   20000  2.0  2.0  1.0  24.0  2.0  2.0 -1.0 -1.0  ...      0.0
1          2  120000  2.0  2.0  2.0  26.0 -1.0  2.0  0.0  0.0  ...   3272.0
2          3   90000  2.0  2.0  2.0  34.0  0.0  0.0  0.0  0.0  ...  14331.0
3          4   50000  2.0  2.0  1.0  37.0  0.0  0.0  0.0  0.0  ...  28314.0
4          5   50000  1.0  2.0  1.0  57.0 -1.0  0.0 -1.0  0.0  ...  20940.0
...      ...     ...  ...  ...  ...   ...  ...  ...  ...  ...  ...      ...
29995  29996  220000  1.0  3.0  1.0  39.0  0.0  0.0  0.0  0.0  ...  88004.0
29996  29997  150000  1.0  3.0  2.0  43.0 -1.0 -1.0 -1.0 -1.0  ...   8979.0
29997  29998   30000  1.0  2.0  2.0  37.0  4.0  3.0  2.0 -1.0  ...  20878.0
29998  29999   80000  1.0  3.0  1.0  41.0  1.0 -1.0  0.0  0.0  ...  52774.0
29999  30000   50000  1.0  2.0  1.0  46.0  0.0  0.0  0.0  0.0  ...  36535.0

           X16      X17      X18      X19      X20     X21      X22     X23  \
0          0.0      0.0      0.0    689.0      0.0     0.0      0.0     0.0
1       3455.0   3261.0      0.0   1000.0   1000.0  1000.0      0.0  2000.0
2      14948.0  15549.0   1518.0   1500.0   1000.0  1000.0   1000.0  5000.0
3      28959.0  29547.0   2000.0   2019.0   1200.0  1100.0   1069.0  1000.0
4      19146.0  19131.0   2000.0  36681.0  10000.0  9000.0    689.0   679.0
...        ...      ...      ...      ...      ...     ...      ...     ...
29995  31237.0  15980.0   8500.0  20000.0   5003.0  3047.0   5000.0  1000.0
29996   5190.0      0.0   1837.0   3526.0   8998.0   129.0      0.0     0.0
29997  20582.0  19357.0      0.0      0.0  22000.0  4200.0   2000.0  3100.0
29998  11855.0  48944.0  85900.0   3409.0   1178.0  1926.0  52964.0  1804.0
29999  32428.0  15313.0   2078.0   1800.0   1430.0  1000.0   1000.0  1000.0

         Y
0      1.0
1      1.0
2      0.0
3      0.0
4      0.0
...    ...
29995  0.0
29996  0.0
29997  1.0
29998  1.0
29999  1.0

[29958 rows x 25 columns]

Otro metodo para limpiar un dataframe es el eliminar los registros duplicados y para eso se usa la función duplicated() ya sea directamente en toda la tabla o en una columna indicandolo: df['columna'].duplicated()

In [42]:
df.drop_duplicates()
print(df)

          ID      X1   X2   X3   X4    X5   X6   X7   X8   X9  ...      X15  \
0          1   20000  2.0  2.0  1.0  24.0  2.0  2.0 -1.0 -1.0  ...      0.0
1          2  120000  2.0  2.0  2.0  26.0 -1.0  2.0  0.0  0.0  ...   3272.0
2          3   90000  2.0  2.0  2.0  34.0  0.0  0.0  0.0  0.0  ...  14331.0
3          4   50000  2.0  2.0  1.0  37.0  0.0  0.0  0.0  0.0  ...  28314.0
4          5   50000  1.0  2.0  1.0  57.0 -1.0  0.0 -1.0  0.0  ...  20940.0
...      ...     ...  ...  ...  ...   ...  ...  ...  ...  ...  ...      ...
29995  29996  220000  1.0  3.0  1.0  39.0  0.0  0.0  0.0  0.0  ...  88004.0
29996  29997  150000  1.0  3.0  2.0  43.0 -1.0 -1.0 -1.0 -1.0  ...   8979.0
29997  29998   30000  1.0  2.0  2.0  37.0  4.0  3.0  2.0 -1.0  ...  20878.0
29998  29999   80000  1.0  3.0  1.0  41.0  1.0 -1.0  0.0  0.0  ...  52774.0
29999  30000   50000  1.0  2.0  1.0  46.0  0.0  0.0  0.0  0.0  ...  36535.0

           X16      X17      X18      X19      X20     X21      X22     X23  \
0          0.0      0.0      0.0    689.0      0.0     0.0      0.0     0.0
1       3455.0   3261.0      0.0   1000.0   1000.0  1000.0      0.0  2000.0
2      14948.0  15549.0   1518.0   1500.0   1000.0  1000.0   1000.0  5000.0
3      28959.0  29547.0   2000.0   2019.0   1200.0  1100.0   1069.0  1000.0
4      19146.0  19131.0   2000.0  36681.0  10000.0  9000.0    689.0   679.0
...        ...      ...      ...      ...      ...     ...      ...     ...
29995  31237.0  15980.0   8500.0  20000.0   5003.0  3047.0   5000.0  1000.0
29996   5190.0      0.0   1837.0   3526.0   8998.0   129.0      0.0     0.0
29997  20582.0  19357.0      0.0      0.0  22000.0  4200.0   2000.0  3100.0
29998  11855.0  48944.0  85900.0   3409.0   1178.0  1926.0  52964.0  1804.0
29999  32428.0  15313.0   2078.0   1800.0   1430.0  1000.0   1000.0  1000.0

         Y
0      1.0
1      1.0
2      0.0
3      0.0
4      0.0
...    ...
29995  0.0
29996  0.0
29997  1.0
29998  1.0
29999  1.0

[29958 rows x 25 columns]

In [46]:
df_delete_column = df['X1'].drop_duplicates()
print(f'cantidad de registros no duplicados: {len(df_delete_column)}\n')
print(df_delete_column)

cantidad de registros no duplicados: 81

0         20000
1        120000
2         90000
3         50000
6        500000
          ...
21375    760000
23096    690000
23438    650000
24320    780000
24686    730000
Name: X1, Length: 81, dtype: int64